body {
	font-family: Cerebri, sans-serif;
	font-weight: 400;
	margin: 0;
	position: relative;
}
.iBUgGZ {
	background-color: #42b85b !important;
	box-shadow: rgb(58, 183, 114) 0px 0px 1px 3px !important;
}
.csZtrq {
	background-color: transparent !important;
	box-shadow: rgb(240, 240, 240) 0px 0px 1px 2px !important;
}
.rec {
	.rec-item-wrapper {
		display: block;
	}
	.rec-dot {
		background-color: transparent !important;
		box-shadow: rgb(240, 240, 240) 0px 0px 1px 2px !important;
	}
	.rec-dot_active {
		background-color: #42b85b !important;
		box-shadow: rgb(58, 183, 114) 0px 0px 1px 3px !important;
	}
}
.accordion {
	display: none;
}
.accordionactive {
	display: block;
}
