body {
	font-family: Cerebri Sans;
	font-weight: 400;
	margin: 0;
	position: relative;
	overflow: auto;
}
@font-face {
	font-family: "Cerebri Sans";
	src: url("src/font/CerebriSans-Regular.eot");
	src: url("src/font/CerebriSans-Regular.woff") format("woff"),
		url("src/font/CerebriSans-Regular.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}
.iBUgGZ {
	background-color: #42b85b !important;
	box-shadow: rgb(58, 183, 114) 0px 0px 1px 3px !important;
}
.csZtrq {
	background-color: transparent !important;
	box-shadow: rgb(240, 240, 240) 0px 0px 1px 2px !important;
}
.rec {
	.rec-item-wrapper {
		display: block;
	}
	.rec-dot {
		background-color: transparent !important;
		box-shadow: rgb(240, 240, 240) 0px 0px 1px 2px !important;
	}
	.rec-dot_active {
		background-color: #42b85b !important;
		box-shadow: rgb(58, 183, 114) 0px 0px 1px 3px !important;
	}
}
.accordion {
	display: none;
}
.accordionactive {
	display: block;
}
.messages {
	overflow: auto;
	flex: auto;
}
.scrollTobottom {
	display: block;
	height: 200px;
	overflow-y: auto;
	scroll-behavior: smooth;
}
#da {
	display: block;

	overflow-y: auto;
	scroll-behavior: smooth;
}
#data {
	display: block;
	height: 120px;
	overflow-y: auto;
	scroll-behavior: smooth;
}
@media (min-width: 666px) {
	#data {
		height: 150px;
	}
}
@media (min-width: 667px) {
	#data {
		height: 50px;
	}
}
@media (min-width: 668px) {
	#data {
		height: 150px;
	}
}
@media (min-width: 684px) {
	#data {
		height: 50px;
	}
}
@media (min-width: 685px) {
	#data {
		height: 150px;
	}
}
@media (min-width: 734px) {
	#data {
		height: 50px;
	}
}
@media (min-width: 735px) {
	#data {
		height: 150px;
	}
}
:focus {
	outline: none;
}
.padding {
	padding: 0 !important;
}
.overFlow {
	overflow: auto;
	display: block;
	height: auto !important;
	margin-top: 10px;
	margin-bottom: 10px;
}
.ReactModal__Overlay .ReactModal__Overlay--after-open {
	background-color: #2125293b !important;
}
.flex-container {
	width: 100%;
	height: 100%;
}
